<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/resourcegroups/Sandeep/providers/Microsoft.ContainerRegistry/registries/sandeepnairacr</ResourceId>
    <ResourceName>sandeepnairacr</ResourceName>
    <ResourceGroup>Sandeep</ResourceGroup>
    <Subscription>CosmosDB-Demos-GeneralUse</Subscription>
    <RegistryUrl>https://sandeepnairacr.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <_TargetId>AzureConsoleContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>